<section>
<div class="flex w-[400px] h-auto flex-col m-auto bg-white  items-center justify-center  mt-52 border-1  border-gray-200 rounded-xl p-4">
    <div class="flex flex-col items-center justify-center m-2">
        <h1 class="text-2xl font-semibold">Welcome Back</h1>        
        <p class="text-sm text-neutral-600 mt-2">Don't have an account?
             <a class="text-neutral-800 font-semibold cursor-pointer" routerLink="/register">Sing up</a>
            </p>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="w-[400px] relative flex items-center flex-col mt-4">     
                  
            <input class="w-[320px] font-medium outline-0 p-2 m-2 pl-10 placeholder:text-gray-500 rounded-md border-1
             border-gray-200 text-[14px]" 
             id="email" formControlName="username" type="username" placeholder="Username" required />
              <ng-icon size="22" name="heroUserCircle" color="#6B7280" class="absolute mt-4 left-13"></ng-icon>   

            <input class="w-[320px] font-medium outline-0 p-2 m-2 pl-10 placeholder:text-gray-500 rounded-md border-1
             border-gray-200 text-[14px]" 
             id="password" formControlName="password" type="password" placeholder="Password" required />
             <ng-icon size="22" name="heroLockClosed" color="#6B7280" class="absolute mt-18 left-13"></ng-icon>  

            <button class="w-[320px] p-2 m-2 rounded-md bg-neutral-700 cursor-pointer text-white" type="submit">Login</button>
    </form>
</div>
</section>