<section class="w-full flex flex-col ">
    <div class="w-full p-6 pl-7 ">
        <h1 class="text-3xl font-bold">{{project?.name}}</h1>
    </div>
    <div class="w-auto h-[48px] z-10 p-2 pl-6">
        <ul class="grid grid-cols-[repeat(4,minmax(auto,1fr))] gap-2 bg-white custom-shadow rounded-md   font-semibold text-[14px] p-2  w-fit ">
            <li id="1" class="hover:bg-purple-500 hover:text-white transition-colors rounded-md w-fit   p-2 cursor-pointer flex flex-row"
                (click)="openItem('overview','1')">
                <ng-icon class="mr-1" size="20" name="heroDocumentText"></ng-icon>
                Overview
            </li>
            <li id="2"  class="hover:bg-purple-500 hover:text-white transition-colors rounded-md w-fit  p-2 cursor-pointer flex flex-row"
                (click)="openItem('backlog','2')">
                <ng-icon class="mr-1" size="20" name="heroRectangleStack"></ng-icon>
                Backlog
            </li>
            <li id="3" 
                class="hover:bg-purple-500 hover:text-white transition-colors rounded-md w-fit  p-2 cursor-pointer flex flex-row">
                <ng-icon class="mr-1" size="20" name="heroArrowPathRoundedSquare"></ng-icon>
                Sprints
            </li>
            <li id="4" 
                class="hover:bg-purple-500 hover:text-white transition-colors rounded-md w-fit  p-2 cursor-pointer flex flex-row">
                <ng-icon class="mr-1" size="20" name="heroDocumentCheck"></ng-icon>
                Tasks
            </li>
        </ul>
    </div>

</section>
<section class="w-full ">
    <router-outlet></router-outlet>
</section>