
.trash-icon, .edit-icon{    
    color: #C4C4C4;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.trash-icon:hover{
    color: #FF0000;
}

.edit-icon:hover{
    color: #923bf6;
}

.active{
    
    color: #3b4ef6;
    font-weight: bold;
    transition: all .1s ease-in-out;
    border: 1px solid #3b4ef6;

}