
.trash-icon, .edit-icon{    
    color: #C4C4C4;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.trash-icon:hover{
    color: #FF0000;
}

.edit-icon:hover{
    color: #00BBA7;
}

.active{
    
    color: #00BBA7;
    font-weight: bold;
    transition: all .1s ease-in-out;
    border: 1px solid #00BBA7;

}