<section>
    <div class="w-full p-1">
        <table class="w-full border-collapse text-left  rounded-md ">

        </table>
    </div>


    <div class="flex flex-row w-full p-2">
        <div class="p-4 w-[320px] m-4 h-fit bg-neutral-100  border-1 border-gray-200 rounded-md  ">
            <p class="font-semibold  text-[14px]">Epics</p>
            <ul class=" list-none text-[14px] mt-2 font-medium w-full">
                @for(epics of epics; track $index){
                <li class="  m-1 p-3 rounded-md cursor-pointer hover:*:block ">{{epics.title}}
                    <span class="float-right transition duration-300 ease-in-out hidden">
                        <ng-icon (click)="deleteEpic(epics.item_id)" class="float-right trash-icon" size="20"
                            name="heroTrash"></ng-icon>
                        <ng-icon (click)="showFormEditEpic(epics.item_id)" class="float-right mr-2 edit-icon" size="20" color=""
                            name="heroPencilSquare"></ng-icon>
                    </span>
                </li>
                <li>
                    <div class="mt-2 w-full rounded-md hidden edit-epic-{{epics.item_id}}">
                         <form [formGroup]="formEpicUpdate" (submit)="updateEpic(epics.item_id)">
                        <input formControlName="title" type="text" class="font-medium outline-0 m-1 p-2 w-full bg-white  placeholder:text-gray-500 rounded-md border-1
                                    border-gray-200  focus:border-blue-400  text-[14px]" placeholder="Title" id="title"
                            value="{{epics.title}}">
                        <input formControlName="description" type="text" class="font-medium outline-0 m-1 p-2 w-full bg-white  placeholder:text-gray-500 rounded-md border-1
                                    border-gray-200  focus:border-blue-400  text-[14px]" placeholder="Description"
                            id="description" value="{{epics.description}}">
                        <button type="submit"
                            class="p-2 w-full m-1 bg-neutral-200 cursor-pointer text-neutral-800 hover:text-white rounded-md hover:bg-purple-500 transition-colors">Update</button>
                            </form>
                     </div>
                </li>

                }
            </ul>
            <button (click)="showFormEpic()" 
                class="w-fit ml-1 flex justify-center justify-items-center custom-shadow mt-2 p-2 text-[14px] font-medium cursor-pointer bg-blue-500 border-1 border-gray-200 text-neutral-50 rounded-md  hover:bg-blue-600 transition-colors">
                New Epic <ng-icon class="ml-2 " size="20" name="heroPlus" color="#fff"></ng-icon>
            </button>
            <div class="mt-4 hidden" id="form-epic">
                <form [formGroup]="formEpic" (submit)="createEpic()">
                    <input formControlName="title" id="title" [ngClass]="{'is-invalid': hasErrors('title', 'required')}"
                        class="font-medium outline-0 m-1 p-2 w-full bg-white  placeholder:text-gray-500 rounded-md border-1
                                    border-gray-200 focus:border-blue-400  text-[14px]" type="text" name="title"
                        placeholder="Title" id="">
                    <input formControlName="description" id="description"
                        [ngClass]="{'is-invalid': hasErrors('description', 'required')}" class="font-medium outline-0 m-1 p-2 w-full bg-white  placeholder:text-gray-500 rounded-md border-1
                                    border-gray-200  focus:border-blue-400  text-[14px]" type="text" name="description"
                        placeholder="Description" id="">
                    <button type="submit" class="w-full  custom-shadow mt-2 p-2 text-[14px] font-medium cursor-pointer
                      bg-neutral-50 border-1 border-gray-200 text-neutral-800  rounded-md 
                       hover:bg-green-500 hover:text-white transition-colors">
                        Save
                    </button>
                </form>
            </div>

        </div>


        <div class="w-full p-4">
            <div class="overflow-x-auto rounded-md">
                <table class="w-full text-left border-collapse rounded-md border-1 border-gray-200">
                    <thead class="rounded-t-md bg-neutral-100">
                        <tr class="text-neutral-600 *:text-left *:p-2 *:pl-3 text-[12px] font-medium ">
                            <th>Title</th>
                            <th>Description</th>
                            <th>Epic</th>
                            <th>Priority</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody class=" rounded-md">
                        <tr class=" *:text-left *:p-3">
                            <td>
                                <input class="font-medium outline-0 p-2 w-full  placeholder:text-gray-500 rounded-md border-1
                                    border-gray-200 text-[14px]" type="text" name="title" placeholder="Title" id="">
                            </td>
                            <td>
                                <input class="font-medium outline-0 p-2 w-full  placeholder:text-gray-500 rounded-md border-1
                                    border-gray-200 text-[14px]" type="text" name="description"
                                    placeholder="Description" id="">
                            </td>
                            <td>
                                <select class="font-medium outline-0 p-2 w-full pr-4 placeholder:text-gray-500 rounded-md border-1
                                      border-gray-200 text-[14px]">
                                    <option value="" disabled selected>Select Epic</option>
                                    @for (epic of epics; track $index){
                                    <option value="{{epic.item_id}}">{{epic.title}}</option>
                                    }

                                </select>

                            </td>
                            <td>
                                <input class="font-medium outline-0 p-2 w-[80px]  placeholder:text-gray-500 rounded-md border-1
                                    border-gray-200 text-[14px]" type="number" name="priority" placeholder="Priority"
                                    id="">
                            </td>
                            <td>
                                <button
                                    class="p-2 bg-neutral-700 text-white rounded-md hover:bg-neutral-800 transition-colors">
                                    Add
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tbody class=" rounded-md text-[14px] font-medium">
                        <tr class="border-b-1 border-gray-200 *:text-left *:p-2 *:pl-3">

                            <td> the interface should be red color </td>
                            <td>this story is about the login page </td>
                            <td class="flex justify-center">
                                <span
                                    class="bg-pink-200 text-pink-500 text-[14px] font-semibold rounded-sm p-1 pl-2 pr-2">
                                    Epic 1
                                </span>
                            </td>
                            <td class="items-center">15</td>
                            <td>
                                <span (click)="viewMenu('menu-1')" class="cursor-pointer flex rounded-md group w-fit justify-items-center
                                        hover:bg-neutral-200 ">
                                    <ng-icon color="#0C0C0C" size="24" name="heroEllipsisHorizontal"></ng-icon>
                                </span>
                                <div>
                                    <ul class="hidden right-16 border-1 border-gray-200 absolute bg-white custom-shadow rounded-md p-2"
                                        id="menu-1">
                                        <li class="p-2 hover:bg-neutral-200 cursor-pointer rounded-md">View</li>
                                        <li class="p-2 hover:bg-neutral-200 cursor-pointer rounded-md">Edit</li>
                                        <li class="p-2 hover:bg-neutral-200 cursor-pointer rounded-md">Delete</li>
                                    </ul>
                                </div>

                            </td>
                        </tr>


                    </tbody>

                </table>
            </div>
        </div>
    </div>

</section>