<section>
    <div class="w-full p-4">
        <table class="w-full border-collapse text-left  rounded-md ">
            <tbody class=" rounded-md">
                <tr class=" *:text-left *:p-3">
                    <td>
                        <select class="font-medium outline-0 p-2 pr-4 placeholder:text-gray-500 rounded-md border-1
                                      border-gray-200 text-[14px]">
                            <option value="none">None</option>
                            <option value="epic1">Epic</option>
                            <option value="epic2">Story</option>
                        </select>
                    </td>
                    <td>
                        <input class="font-medium outline-0 p-2 w-full  placeholder:text-gray-500 rounded-md border-1
                                    border-gray-200 text-[14px]" type="text" name="title" placeholder="Title" id="">
                    </td>
                    <td>
                        <input class="font-medium outline-0 p-2 w-full  placeholder:text-gray-500 rounded-md border-1
                                    border-gray-200 text-[14px]" type="text" name="description"
                            placeholder="Description" id="">
                    </td>
                    <td>
                        <input class="font-medium outline-0 p-2 w-full  placeholder:text-gray-500 rounded-md border-1
                                    border-gray-200 text-[14px]" type="number" name="priority" placeholder="Priority"
                            id="">
                    </td>
                    <td>

                    </td>
                    <td>
                        <button class="p-2 bg-neutral-700 text-white rounded-md hover:bg-neutral-800 transition-colors">
                            Add
                        </button>
                    </td>
                </tr>
        </table>
    </div>


    <div class="w-full p-4">
        <div class="overflow-x-auto rounded-md">
            <table class="w-full text-left border-collapse rounded-md border-1 border-gray-200">
                <thead class="rounded-t-md bg-neutral-100">
                    <tr class="text-neutral-600 *:text-left *:p-2 *:pl-3 text-[12px] font-medium ">
                        <th>Type</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Priority</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class=" rounded-md text-[14px]">
                    <tr class=" *:text-left *:p-2 *:pl-3">
                        <td>
                            <span
                                class="bg-purple-200 text-purple-500 text-[14px] font-semibold rounded-sm p-1 pl-2 pr-2">Epic</span>
                        </td>
                        <td>Login color red</td>
                        <td>the login page should be red color</td>
                        <td>15</td>
                        <td> </td>
                    </tr>
                </tbody>
                <tbody class=" rounded-md text-[14px]">
                    <tr class="border-b-1 border-gray-200 *:text-left *:p-2 *:pl-3">
                        <td class="">
                            <ng-icon class=" ml-2" color="#F87171" size="20" name="heroArrowTurnDownRight"></ng-icon>
                            <span
                                class="bg-orange-200 ml-2 text-orange-500 text-[14px] font-semibold rounded-sm p-1 pl-2 pr-2">
                                Story
                            </span>
                        </td>
                        <td> the interface should be red color </td>
                        <td>this story is about the login page </td>
                        <td>15</td>
                        <td>
                            <span class="cursor-pointer flex rounded-md group w-fit justify-items-center
                                        hover:bg-neutral-200 ">
                                <ng-icon color="#0C0C0C" size="24" name="heroEllipsisHorizontal"></ng-icon>
                            </span>
                        </td>
                    </tr>
                       <tr class="border-b-1 border-gray-200 *:text-left *:p-2 *:pl-3">
                        <td class="">
                            <ng-icon class=" ml-2" color="#F87171" size="20" name="heroArrowTurnDownRight"></ng-icon>
                            <span
                                class="bg-orange-200 ml-2 text-orange-500 text-[14px] font-semibold rounded-sm p-1 pl-2 pr-2">
                                Story
                            </span>
                        </td>
                        <td> the interface should be red color </td>
                        <td>this story is about the login page </td>
                        <td>15</td>
                        <td>
                            <span class="cursor-pointer flex rounded-md group w-fit justify-items-center
                                        hover:bg-neutral-200 ">
                                <ng-icon color="#0C0C0C" size="24" name="heroEllipsisHorizontal"></ng-icon>
                            </span>
                        </td>

                    </tr>
                       <tr class="border-b-1 border-gray-200 *:text-left *:p-2 *:pl-3">
                        <td class="">
                            <ng-icon class=" ml-2" color="#F87171" size="20" name="heroArrowTurnDownRight"></ng-icon>
                            <span
                                class="bg-orange-200 ml-2 text-orange-500 text-[14px] font-semibold rounded-sm p-1 pl-2 pr-2">
                                Story
                            </span>
                        </td>
                        <td> the interface should be red color </td>
                        <td>this story is about the login page </td>
                        <td>15</td>
                        <td>
                            <span class="cursor-pointer flex rounded-md group w-fit justify-items-center
                                        hover:bg-neutral-200 ">
                                <ng-icon color="#0C0C0C" size="24" name="heroEllipsisHorizontal"></ng-icon>
                            </span>
                        </td>
                    </tr>
                </tbody>

                   <tbody class=" rounded-md text-[14px]">
                    <tr class=" *:text-left *:p-2 *:pl-3">
                        <td>
                            <span
                                class="bg-purple-200 text-purple-500 text-[14px] font-semibold rounded-sm p-1 pl-2 pr-2">Epic</span>
                        </td>
                        <td>Login color red</td>
                        <td>the login page should be red color</td>
                        <td>15</td>
                        <td> </td>
                    </tr>
                </tbody>
                <tbody class=" rounded-md text-[14px]">
                    <tr class="border-b-1 border-gray-200 *:text-left *:p-2 *:pl-3">
                        <td class="">
                            <ng-icon class=" ml-2" color="#F87171" size="20" name="heroArrowTurnDownRight"></ng-icon>
                            <span
                                class="bg-orange-200 ml-2 text-orange-500 text-[14px] font-semibold rounded-sm p-1 pl-2 pr-2">
                                Story
                            </span>
                        </td>
                        <td> the interface should be red color </td>
                        <td>this story is about the login page </td>
                        <td>15</td>
                        <td>
                            <span class="cursor-pointer flex rounded-md group w-fit justify-items-center
                                        hover:bg-neutral-200 ">
                                <ng-icon color="#0C0C0C" size="24" name="heroEllipsisHorizontal"></ng-icon>
                            </span>
                        </td>
                    </tr>
                       <tr class="border-b-1 border-gray-200 *:text-left *:p-2 *:pl-3">
                        <td class="">
                            <ng-icon class=" ml-2" color="#F87171" size="20" name="heroArrowTurnDownRight"></ng-icon>
                            <span
                                class="bg-orange-200 ml-2 text-orange-500 text-[14px] font-semibold rounded-sm p-1 pl-2 pr-2">
                                Story
                            </span>
                        </td>
                        <td> the interface should be red color </td>
                        <td>this story is about the login page </td>
                        <td>15</td>
                        <td>
                            <span class="cursor-pointer flex rounded-md group w-fit justify-items-center
                                        hover:bg-neutral-200 ">
                                <ng-icon color="#0C0C0C" size="24" name="heroEllipsisHorizontal"></ng-icon>
                            </span>
                        </td>

                    </tr>
                       <tr class="border-b-1 border-gray-200 *:text-left *:p-2 *:pl-3">
                        <td class="">
                            <ng-icon class=" ml-2" color="#F87171" size="20" name="heroArrowTurnDownRight"></ng-icon>
                            <span
                                class="bg-orange-200 ml-2 text-orange-500 text-[14px] font-semibold rounded-sm p-1 pl-2 pr-2">
                                Story
                            </span>
                        </td>
                        <td> the interface should be red color </td>
                        <td>this story is about the login page </td>
                        <td>15</td>
                        <td>
                            <span class="cursor-pointer flex rounded-md group w-fit justify-items-center
                                        hover:bg-neutral-200 ">
                                <ng-icon color="#0C0C0C" size="24" name="heroEllipsisHorizontal"></ng-icon>
                            </span>
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</section>