.calendar-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 2rem auto;
    font-family: sans-serif;
    padding: 2rem;
    height: calc(100vh - 8rem);
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .calendar-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-radius: 10px;
    
  }
  
  .calendar-day {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    min-height: 120px;
    padding: 0px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
  }
  
  .calendar-day.header {
    font-weight: bold;
    background: #f0f0f0;
  }
  
  .calendar-day.today {
    background: #e6f7ff;
    border-color: #1890ff;
  }
  
  
  
  /* Modal */
  .modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
  }

  .event {
    background: #1890ff;
    color: white;
    font-size: 0.8rem;
    margin-top: 2px;
    display: block;
    width: 100%;
    height: 20px; /* 🔥 asegura que el bloque tenga altura aunque no haya texto */
    display: flex;
    align-items: center;
    padding-left: 4px;
    box-sizing: border-box;
  }
  
  .event span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  /* Evento de un solo día */
  .event-single {
    border-radius: 12px;
  }
  
  /* Primer día del evento */
  .event-start {
    height: 20px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  /* Días intermedios */
  .event-middle {
    border-radius: 0;
  }
  
  /* Último día del evento */
  .event-end {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  