<section class="select-none">
    <div class="flex flex-row justify-between items-center w-full p-6 pr-10 mt-5">
        <h1 class="font-semibold text-[20px]">Sprints</h1> 
        <button (click)="showModalCreateSprint(1,'create')"
            class="bg-teal-500 text-white font-medium rounded-md px-3 py-2 text-[14px] cursor-pointer hover:bg-teal-600 transition-colors">
            Create Sprint
        </button>  
    </div>
    <div class="w-full px-6 overflow-y-auto h-[calc(92vh-200px)]"> 
    @for (sprint of sprints; track $index){   
        <div class="w-full bg-white p-6 mb-4 mt-4 custom-shadow rounded-md ">
            <div class="flex flex-row justify-between  items-center py-4 ">
                <h1 class="flex items-center font-semibold text-[16px]">
                    {{ sprint.name }} 
                    <span class="inline-flex justify-center w-auto ml-2 bg-amber-100 text-amber-500 px-2 py-1 rounded-md text-[12px] font-semibold">
                        <ng-icon class="mr-1" size="18" name="heroClock" color="fef3c6"></ng-icon>
                        {{sprint.status.charAt(0).toUpperCase() + sprint.status.slice(1)}}
                    </span>
                </h1>
                <div class="flex flex-row">                
                 <span (click)="toggleMenu('menu-'+sprint.sprint_id); $event.stopPropagation()" class="cursor-pointer flex rounded-md group w-fit justify-items-center
                 hover:bg-teal-50transition-colors">
                 <ng-icon class="mr-2" color="#00BBA7" size="22" name="heroEllipsisHorizontal"></ng-icon>
                 </span>
                 <div  *ngIf="openedMenuId === 'menu-'+sprint.sprint_id" class="relative"> 
                    <ul class=" right-7 mt-5 border-1 border-gray-200 absolute bg-white custom-shadow rounded-md p-3"
                        id="menu-{{sprint.sprint_id}}">
                        <li (click)="showModalCreateSprint(1,'edit',sprint.sprint_id)" class="p-3 flex flex-row hover:bg-neutral-100 cursor-pointer rounded-md">
                            <ng-icon class="mr-2" size="18" name="heroPencilSquare"></ng-icon>
                            Edit
                        </li>
                        <li class="p-3 flex hover:bg-neutral-100 text-red-500 cursor-pointer rounded-md">
                            <ng-icon class="mr-2" size="18" color="#fb2c36"
                                name="heroTrash"></ng-icon>
                            Delete
                        </li>
                    </ul>
                </div>  
             
                </div>
            </div>
        
            <div class="w-full border-b-1 border-t-1 border-neutral-200 p-3 grid grid-cols-8 mb-3 text-neutral-500 *:text-left text-[12px] font-bold">
                <div>
                    <p>Task</p>
                </div>
                <div>
                    <p>Description</p>
                </div>
                <div>
                    <p>Status</p>
                </div>
                <div>
                    <p>Type</p>
                </div>
                <div>
                    <p>Priority</p>
                </div>
                <div>
                    <p>End Date</p>
                </div>
                <div class="flex justify-center">
                    <p>Actions</p>
                </div>
            </div>
        </div>
    
    }
</div>
</section>



<div class="relative z-30 hidden" id="modal-create-sprint" aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500/75 transition-opacity" aria-hidden="true"></div>
    <div class="fixed inset-0 z-10 w-screen p-2 overflow-y-auto">
        <div class="flex min-h-full w-full items-center justify-center text-center sm:items-center sm:p-0">
            <div class="relative transform overflow-hidden rounded-lg bg-white px-4 pb-4 pt-5 text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:p-6">
                <div class="sm:flex sm:items-start">
                    <div class="mt-3 text-center sm:mt-0 sm:text-left w-full">
                        @if (this.dataSprintUpdate == null) { 
                        <h3 class="text-lg font-medium leading-6 text-gray-900" id="modal-title">Create Sprint</h3>
                        } @else { 
                        <h3 class="text-lg font-medium leading-6 text-gray-900" id="modal-title">Update Sprint</h3>
                        }
                        <div class="mt-2 p-2"> 
                            @if (this.dataSprintUpdate == null) {                        
                            <form [formGroup]="formSprint" id="formSprint" (submit)="createSprint()">                         
                             
                                <div class="space-y-4">
                                    <div>
                                        <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
                                        <input formControlName="name" type="text"  class="font-medium outline-0 p-2 w-full  placeholder:text-gray-500 rounded-md border-1
                                        border-gray-200 text-[14px]" [ngClass]="{'is-invalid': hasErrors('name', 'required','Sprint')}"                                        
                                            placeholder="Sprint name" required>
                                    </div>

                                    <div>
                                        <label for="goal" class="block text-sm font-medium text-gray-700">Goal</label>
                                        <input formControlName="goal" type="text" class="font-medium outline-0 p-2 w-full  placeholder:text-gray-500 rounded-md border-1
                                        border-gray-200 text-[14px]" [ngClass]="{'is-invalid': hasErrors('goal', 'required','Sprint')}"
                                            placeholder="Sprint goal" required> 
                                    </div>

                                    <div class="grid grid-cols-2 gap-4">
                                        <div>
                                            <label for="start_date" class="block text-sm font-medium text-gray-700">Start Date</label>
                                            <input formControlName="start_date" type="date"  class="font-medium outline-0 p-2 w-full  placeholder:text-gray-500 rounded-md border-1
                                            border-gray-200 text-[14px]" [ngClass]="{'is-invalid': hasErrors('start_date', 'required','Sprint')}"
                                                required>
                                        </div>
                                        <div>
                                            <label for="end_date" class="block text-sm font-medium text-gray-700">End Date</label>
                                            <input formControlName="end_date" type="date" class="font-medium outline-0 p-2 w-full  placeholder:text-gray-500 rounded-md border-1
                                            border-gray-200 text-[14px]" [ngClass]="{'is-invalid': hasErrors('end_date', 'required','Sprint')}"
                                                required>
                                        </div>
                                    </div>
                                  
                                  
                                </div>

                                <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
                                    <button type="submit" class="inline-flex w-full justify-center rounded-md border border-transparent bg-teal-500 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-teal-600 focus:outline-none focus:ring-2 focus:ring-teal-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm">
                                        Save
                                    </button>
                                    <button type="button" class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-teal-500 focus:ring-offset-2 sm:mt-0 sm:w-auto sm:text-sm" (click)="showModalCreateSprint(0,'create')">
                                        Cancel
                                    </button>
                                    </div>
                            </form>
                        } @else { 
                            <form [formGroup]="formSprint" (submit)="updateSprint(dataSprintUpdate.sprint_id)"> 
                                {{dataSprintUpdate.sprint_id}}
                                <div class="space-y-4">
                                    <div>
                                        <label for="name" class="block text-sm font-medium text-gray-700">Name</label>
                                        <input formControlName="name" type="text"  class="font-medium outline-0 p-2 w-full  placeholder:text-gray-500 rounded-md border-1
                                        border-gray-200 text-[14px]" [ngClass]="{'is-invalid': hasErrors('name', 'required','Sprint')}"                                        
                                            placeholder="Sprint name" required>
                                    </div>

                                    <div>
                                        <label for="goal" class="block text-sm font-medium text-gray-700">Goal</label>
                                        <input formControlName="goal" type="text" class="font-medium outline-0 p-2 w-full  placeholder:text-gray-500 rounded-md border-1
                                        border-gray-200 text-[14px]" [ngClass]="{'is-invalid': hasErrors('goal', 'required','Sprint')}"
                                            placeholder="Sprint goal" required> 
                                    </div>

                                    <div class="grid grid-cols-2 gap-4">
                                        <div>
                                            <label for="start_date" class="block text-sm font-medium text-gray-700">Start Date</label>
                                            <input formControlName="start_date" type="date"  class="font-medium outline-0 p-2 w-full  placeholder:text-gray-500 rounded-md border-1
                                            border-gray-200 text-[14px]" [ngClass]="{'is-invalid': hasErrors('start_date', 'required','Sprint')}"
                                                required>
                                               
                                        </div>
                                        <div>
                                            <label for="end_date" class="block text-sm font-medium text-gray-700">End Date</label>
                                            <input formControlName="end_date" type="date" class="font-medium outline-0 p-2 w-full  placeholder:text-gray-500 rounded-md border-1
                                            border-gray-200 text-[14px]" [ngClass]="{'is-invalid': hasErrors('end_date', 'required','Sprint')}"
                                                required>
                                        </div>
                                    </div>
                                  
                                  
                                </div>

                                <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
                                    <button type="submit" class="inline-flex w-full justify-center rounded-md border border-transparent bg-teal-500 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-teal-600 focus:outline-none focus:ring-2 focus:ring-teal-500 focus:ring-offset-2 sm:ml-3 sm:w-auto sm:text-sm">
                                        Update
                                    </button>
                                    <button type="button" class="mt-3 inline-flex w-full justify-center rounded-md border border-gray-300 bg-white px-4 py-2 text-base font-medium text-gray-700 shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-teal-500 focus:ring-offset-2 sm:mt-0 sm:w-auto sm:text-sm" (click)="showModalCreateSprint(0,'edit')">
                                        Cancel
                                    </button>
                                    </div>
                               
                            </form>
                            
                        }                                
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


