<section class="flex flex-row">
    <app-main-menu />
    <section class="flex flex-col w-full h-screen bg-gray-100 pt-3">
        <div class="flex w-full h-full bg-white rounded-tl-2xl border-t-2 border-l-2 p-4 border-gray-200">

            <div class="w-full flex flex-col justify-center items-center">
                <h2 class="text-2xl font-medium m-1"> Create a New Project </h2>
                <button type="button"
                    class="bg-neutral-800 hover:bg-neutral-700 cursor-pointer m-2 text-white pl-8 pr-8 font-bold py-2 px-4 rounded">Create</button>
            </div>
        </div>
    </section>  
</section>

<app-create-project-modal/> 