<section class="w-[250px] h-screen bg-gray-100 text-neutral-800 flex flex-col">
    <div class="flex flex-row w-full h-12 items-start justify-start p-4 m-2">
        <img src="logo.png" alt="" class="w-8 h-8 mr-2" >
        <p class="font-bold text-[22px]">NexPlan</p> 
        <div class="w-8 h-8 rounded-full text-[13px] border-2 border-gray-300 
         cursor-pointer font-semibold relative left-14 bg-gradient-to-br
         flex items-center justify-center">
          <img src="profile.PNG" class="w-full h-full object-cover rounded-full" alt="">
        </div>
    </div>
    <div class="flex flex-col w-full h-12 items-start justify-center text-neutral-500  p-4">  
        <ng-icon class="absolute ml-2 " size="20"  name="heroMagnifyingGlass"></ng-icon>     
        <input type="text" placeholder="Search anything"
         class="w-[100%] text-[14px] h-10 border-1 outline-0 border-gray-300 rounded-lg focus:border-gray-500 focus:ring-0
          bg-neutral-50 text-neutral-500 p-2 pl-8 "/>
    </div>
    <nav class="flex flex-col w-auto h-auto">
        <ul class="font-semibold w-auto text-gray-500">
            <li class="p-2 pl-6"><a  class="flex cursor-pointer hover:text-neutral-800 transition ease-in-out" 
                routerLink="/dashboard">
                <ng-icon class="mr-2" size="22" name="heroSquares2x2"></ng-icon>Dashboard</a></li>
            <li class="p-2 pl-6 flex flex-row items-center">                           
                <ng-icon  class="mr-2" size="22" name="heroRectangleGroup"></ng-icon>
                Projects              
                <div (click)="openMenuProjects()" class="relative left-25 cursor-pointer">
                      <ng-icon   size="18" name="heroChevronDown"></ng-icon> 
                </div>
                                       
            
            </li>  

            <li class="menu-projects w-full pl-9 hidden">
                  <ul class="border-l-2 border-gray-300">
                    @for(project of projects; track  $index){                     
                    <li class="p-2 pl-7 text-gray-500  cursor-pointer hover:text-neutral-800" >
                         <a  class="flex  cursor-pointer  hover:text-neutral-800 transition ease-in-out"
                          routerLink="/project/{{project.project_id}}/dashboard">
                          {{project.name}}
                          </a>
                        </li>                 
                    }
                </ul>
            </li>
            <li class="p-2  pl-6"><a class="flex w-full  cursor-pointer  hover:text-neutral-800 transition ease-in-out" 
                routerLink="/settings">
                <ng-icon  class="mr-2" size="22" name="heroBell" ></ng-icon>
                Notifications
            <span class=" relative left-10 bg-red-500 text-white text-[12px] font-semibold rounded-full px-2 pt-1 ml-2 shadow-md 
                shadow-red-300">9+</span>
            </a></li>
            <li class="p-2 pl-6 "><a class="flex  cursor-pointer  hover:text-neutral-800 transition ease-in-out" 
                routerLink="/users">
                <ng-icon class="mr-2" size="22" name="heroUsers" ></ng-icon>Users</a></li>
            <li class="p-2 pl-6"><a class="flex  cursor-pointer  hover:text-neutral-800 transition ease-in-out" 
                routerLink="/settings">
                <ng-icon  class="mr-2" size="22" name="heroCog6Tooth" ></ng-icon>Settings</a></li>
        </ul>
    </nav>
</section>
