<section class="select-none border-t-2 mt-2 mx-4 w-full border-gray-200 border-dashed">

    <!-- KANBAN SECTION -->
    <div class="flex flex-row w-full p-2">
        <div class="w-full p-2">
            <h2
                class="p-2 border-1 bg-amber-50 text-amber-500 rounded-[10px] font-semibold text-[14px] border-gray-200">
                Pending</h2>
            <br>
            <div cdkDropList [cdkDropListData]="tasksTodo" [cdkDropListConnectedTo]="[progressList, completedList]"
                #todoList="cdkDropList" class="pending-list w-full flex flex-col overflow-y-auto p-3 border-1 bg-gray-50
             border-gray-200 rounded-[10px] h-[calc(100vh-200px)]" (cdkDropListDropped)="drop($event)">
                @for(todo of tasksTodo; track $index){
                <div  id="todo-{{todo.task_id}}" class="w-full p-2 mb-2 border-1 border-gray-200 bg-white rounded-[10px] h-[120px] cursor-grab"
                    cdkDrag>
                    <div class="flex flex-row p-2"> 
                        <span
                            class="font-semibold text-[12px] text-{{colorPriority[todo.priority]}}-500 mr-2 bg-{{colorPriority[todo.priority]}}-200 px-2 py-1 rounded-[10px]">
                            {{todo.priority.charAt(0).toUpperCase() + todo.priority.slice(1)}}
                        </span>

                        <span class="font-semibold text-[12px] text-gray-500 mr-2 bg-gray-200 px-2 py-1 rounded-[10px]">
                            {{todo.type.charAt(0).toUpperCase() + todo.type.slice(1)}}
                        </span>
                    </div>
                    <div class="flex flex-col p-2">
                        <span class="font-semibold text-[16px]">{{todo.title}}</span>
                        <p class="text-[12px]">{{todo.description}}</p>
                    </div>

                </div>
                }

            </div>
        </div>
        <div class="w-full p-2">
            <h2 class="p-2 border-1 bg-blue-50 text-blue-500 rounded-[10px] font-semibold text-[14px] border-gray-200">
                In Progress</h2>
            <br>
            <div cdkDropList [cdkDropListData]="tasksProgress" [cdkDropListConnectedTo]="[todoList, completedList]"
                #progressList="cdkDropList" class="progress-list w-full flex flex-col overflow-y-auto p-3 border-1 bg-gray-50
             border-gray-200 rounded-[10px] h-[calc(100vh-200px)]" (cdkDropListDropped)="drop($event)">

                @for(progress of tasksProgress; track $index){
                <div  id="progress-{{progress.task_id}}" class="w-full p-2 mb-2 border-1 border-gray-200 bg-white rounded-[10px] h-[120px] cursor-grab"
                    cdkDrag>
                    <div class="flex flex-row p-2">
                        <span class="font-semibold text-[12px] text-{{colorPriority[progress.priority]}}-500 mr-2 bg-{{colorPriority[progress.priority]}}-200 px-2 py-1 rounded-[10px]">
                            {{progress.priority.charAt(0).toUpperCase() + progress.priority.slice(1)}}
                        </span>
                        <span class="font-semibold text-[12px] text-gray-500 mr-2 bg-gray-200 px-2 py-1 rounded-[10px]">
                            {{progress.type.charAt(0).toUpperCase() + progress.type.slice(1)}}
                        </span>
                    </div>
                    <div class="flex flex-col p-2">
                        <span class="font-semibold text-[16px]">{{progress.title}}</span>
                        <p class="text-[12px]">{{progress.description}}</p>
                    </div>

                </div>
                }

            </div>
        </div>
        <div class="w-full p-2">
            <h2
                class="p-2 border-1 bg-green-50 text-green-500 rounded-[10px] font-semibold text-[14px] border-gray-200 cursor-grab">
                Completed</h2>
            <br>
            <div cdkDropList [cdkDropListData]="tasksDone" [cdkDropListConnectedTo]="[todoList, progressList]"
                #completedList="cdkDropList" class="completed-list w-full flex flex-col overflow-y-auto p-3 border-1    bg-gray-50
             border-gray-200 rounded-[10px] h-[calc(100vh-200px)]" (cdkDropListDropped)="drop($event)">

                @for(done of tasksDone; track $index){
                <div  id="done-{{done.task_id}}" class="w-full p-2 mb-2 border-1 border-gray-200 bg-white rounded-[10px] h-[120px] cursor-grab"
                    cdkDrag>
                    <div class="flex flex-row p-2">
                        <span class="font-semibold text-[12px] text-{{colorPriority[done.priority]}}-500 mr-2 bg-{{colorPriority[done.priority]}}-200 px-2 py-1 rounded-[10px]">
                            {{done.priority.charAt(0).toUpperCase() + done.priority.slice(1)}}
                        </span>
                        <span class="font-semibold text-[12px] text-gray-500 mr-2 bg-gray-200 px-2 py-1 rounded-[10px]">
                            {{done.type.charAt(0).toUpperCase() + done.type.slice(1)}}
                        </span>
                    </div>
                    <div class="flex flex-col p-2">
                        <span class="font-semibold text-[16px]">{{done.title}}</span>
                        <p class="text-[12px]">{{done.description}}</p>
                    </div>

                </div>
                }

            </div>
        </div>

    </div>

</section>