

.cdk-drag-preview {
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    
  }
  .cdk-drag-placeholder {
    opacity: 0;
  }
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }


  .priority-high {
    background-color: hsl(36, 100%, 85%);
    color: orange

  }
  .priority-medium {
    background-color:rgb(255, 255, 196); 
    color: rgb(166, 166, 58);

  }
  .priority-low {
    background-color:rgb(195, 255, 195);
    color: rgb(47, 200, 47);

  }
  .priority-critical {
    background-color:rgb(251, 210, 210);
    color: red;

  }


