<section class="select-none border-t-2 mt-2 mx-4 w-full border-gray-200 border-dashed">

    <!-- KANBAN SECTION -->
    <div class="flex flex-row w-full p-2">
        <div class="w-full p-2">

            <h2
                class="p-2 border-1 flex flex-row items-center bg-white text-amber-500 rounded-[10px] font-semibold text-[14px] border-gray-200">
                <span class="inline-flex h-[15px] mr-2 w-[15px] rounded-full bg-amber-500"> </span>
                Pending
            </h2>
            <br>
            <div cdkDropList [cdkDropListData]="tasksTodo" [cdkDropListConnectedTo]="[progressList, completedList]"
                #todoList="cdkDropList" class="pending-list w-full flex flex-col overflow-y-auto p-3 border-1 bg-gray-50
             border-gray-200 rounded-[10px] h-[calc(100vh-200px)]" (cdkDropListDropped)="drop($event)">
                @for(todo of tasksTodo; track $index){
                <div id="todo-{{todo.task_id}}"
                    class="w-full p-2 mb-2 border-1 border-gray-200 bg-white rounded-[10px] h-auto cursor-grab" cdkDrag>
                    <div class="flex flex-row p-2 justify-between">
                        <div>                          

                            <span
                                class="font-semibold text-[12px] text-gray-500 mr-2 bg-gray-200 px-2 py-1 rounded-[10px]">
                                {{todo.type.charAt(0).toUpperCase() + todo.type.slice(1)}}
                            </span>
                        </div>
                        <button
                            class="flex flex-row p-2 border-1 border-gray-200 rounded-[10px] bg-white cursor-pointer"
                            (click)="openModalTaskDetail(todo.task_id, todo.sprint_id)">
                            <ng-icon class="" name="heroEllipsisVertical"></ng-icon>
                        </button>
                    </div>

                    <div class="flex flex-col p-2">
                        @for(project of projectTask; track $index){                          
                            @if(project.task_id === todo.task_id){
                                <span class="font-bold text-[12px] text-purple-500">{{project.project.name}}</span>                                
                            }                                                      
                        }
                        <span class="font-semibold text-[16px]">{{todo.title}}</span>
                        <p class="text-[12px]">{{todo.description}}</p>
                        
                    </div>
                    <div class="mt-2 flex flex-row justify-between items-center  ">
                        <div class="flex flex-row items-center justify-center text-gray-500 px-2">    
                            <ng-icon name="heroFlag" class="mr-2"></ng-icon>                    
                            <span class="font-medium text-[14px]">{{formatDateToString(todo.end_date)}}</span>
                        </div>
                        <span
                        class=" {{colorPriority()[todo.priority]}} font-semibold text-[12px] px-2 py-1 rounded-[10px]">
                        {{todo.priority.charAt(0).toUpperCase() + todo.priority.slice(1)}}
                    </span>
                    </div>
                 
                    <div class="flex flex-col px-2 mt-2">
                        <div class="flex flex-row justify-between">

                            <span class="font-semibold text-[12px] text-gray-500 mr-2 rounded-[10px]">Progress</span>
                            <span
                                class="font-bold text-[12px] text-gray-500 mr-2 rounded-[10px]">{{progressBarDasy(todo.start_date,
                                todo.end_date)}}%</span>
                        </div>

                        <div class="w-full h-[8px] bg-gray-200 rounded-[5px] mt-2">
                            <div class=" h-full  bg-gradient-to-r from-fuchsia-500 to-cyan-500 rounded-[5px]"
                                [style.width]="progressBarDasy(todo.start_date, todo.end_date) + '%'"></div>
                        </div>
                        <div class="flex mt-2 flex-row items-center justify-end text-[14px] font-medium text-gray-500 px-2"> 
                            <ng-icon name="heroChatBubbleBottomCenterText" size="17px" ></ng-icon> 
                            <span class="ml-1 text-[14px]">10 Comments</span>
                        </div>

                    </div>

                </div>
                }

            </div>
        </div>
        <div class="w-full p-2">
            <h2
                class="p-2 border-1 flex flex-row items-center bg-white text-blue-500 rounded-[10px] font-semibold text-[14px] border-gray-200">
                <span class="inline-flex h-[15px] mr-2 w-[15px] rounded-full bg-blue-500"> </span>
                In Progress
            </h2>
            <br>
            <div cdkDropList [cdkDropListData]="tasksProgress" [cdkDropListConnectedTo]="[todoList, completedList]"
                #progressList="cdkDropList" class="progress-list w-full flex flex-col overflow-y-auto p-3 border-1 bg-gray-50
             border-gray-200 rounded-[10px] h-[calc(100vh-200px)]" (cdkDropListDropped)="drop($event)">

                @for(progress of tasksProgress; track $index){
                <div id="progress-{{progress.task_id}}"
                    class="w-full p-2 mb-2 border-1 border-gray-200 bg-white rounded-[10px] h-auto cursor-grab" cdkDrag>

                    <div class="flex flex-row p-2 justify-between">
                        <div>
                         
                            <span
                                class="font-semibold text-[12px] text-gray-500 mr-2 bg-gray-200 px-2 py-1 rounded-[10px]">
                                {{progress.type.charAt(0).toUpperCase() + progress.type.slice(1)}}
                            </span>
                        </div>
                        <button
                            class="flex flex-row p-2 border-1 border-gray-200 rounded-[10px] bg-white cursor-pointer"
                            (click)="openModalTaskDetail(progress.task_id, progress.sprint_id)">
                            <ng-icon class="" name="heroEllipsisVertical"></ng-icon>
                        </button>
                    </div>
                    <div class="flex flex-col p-2">
                        @for(project of projectTask; track $index){                          
                            @if(project.task_id === progress.task_id){
                                <span class="font-bold text-[12px] text-purple-500">{{project.project.name}}</span>                                
                            }                                                      
                        }
                        <span class="font-semibold text-[16px]">{{progress.title}}</span>
                        <p class="text-[12px]">{{progress.description}}</p>
                    </div>
                    <div class="mt-2 flex flex-row justify-between items-center  ">
                        <div class="flex flex-row items-center justify-center text-gray-500 px-2">    
                            <ng-icon name="heroFlag" class="mr-2"></ng-icon>                    
                            <span class="font-medium text-[14px]">{{formatDateToString(progress.end_date)}}</span>
                        </div>
                        <span
                        class=" {{colorPriority()[progress.priority]}} font-semibold text-[12px] px-2 py-1 rounded-[10px]">
                        {{progress.priority.charAt(0).toUpperCase() + progress.priority.slice(1)}}
                    </span>
                    </div>
                    <div class="flex flex-col px-2 mt-2">
                        <div class="flex flex-row justify-between">

                            <span class="font-semibold text-[12px] text-gray-500 mr-2 rounded-[10px]">Progress</span>
                            <span
                                class="font-bold text-[12px] text-gray-500 mr-2 rounded-[10px]">{{progressBarDasy(progress.start_date,
                                progress.end_date)}}%</span>
                        </div>

                        <div class="w-full h-[8px] bg-gray-200 rounded-[5px] mt-2">
                            <div class=" h-full bg-gradient-to-r from-fuchsia-500 to-cyan-500 rounded-[5px]"
                                [style.width]="progressBarDasy(progress.start_date, progress.end_date) + '%'"></div>
                        </div>
                        <div class="flex mt-2 flex-row items-center justify-end text-[14px] font-medium text-gray-500 px-2"> 
                            <ng-icon name="heroChatBubbleBottomCenterText" size="17px" ></ng-icon> 
                            <span class="ml-1 text-[14px]">10 Comments</span>
                        </div>


                    </div>

                </div>
                }

            </div>
        </div>
        <div class="w-full p-2">
            <h2
                class="p-2 border-1 flex flex-row items-center bg-white text-green-500 rounded-[10px] font-semibold text-[14px] border-gray-200 cursor-grab">
                <span class="inline-flex h-[15px] mr-2 w-[15px] rounded-full bg-green-500"> </span>
                Completed
            </h2>
            <br>
            <div cdkDropList [cdkDropListData]="tasksDone" [cdkDropListConnectedTo]="[todoList, progressList]"
                #completedList="cdkDropList" class="completed-list w-full flex flex-col overflow-y-auto p-3 border-1    bg-gray-50
             border-gray-200 rounded-[10px] h-[calc(100vh-200px)]" (cdkDropListDropped)="drop($event)">

                @for(done of tasksDone; track $index){
                <div id="done-{{done.task_id}}"
                    class="w-full p-2 mb-2  border-1 border-gray-200 bg-white rounded-[10px] h-auto cursor-grab"
                    cdkDrag>
                    <div class="flex flex-row p-2 justify-between">
                        <div>                          
                            <span
                                class="font-semibold text-[12px] text-gray-500 mr-2 bg-gray-200 px-2 py-1 rounded-[10px]">
                                {{done.type.charAt(0).toUpperCase() + done.type.slice(1)}}
                            </span>
                        </div>
                        <button
                            class="flex flex-row p-2 border-1 border-gray-200 rounded-[10px] bg-white cursor-pointer"
                            (click)="openModalTaskDetail(done.task_id, done.sprint_id)">
                            <ng-icon class="" name="heroEllipsisVertical"></ng-icon>
                        </button>
                    </div>
                    <div class="flex flex-col p-2">
                        @for(project of projectTask; track $index){                          
                            @if(project.task_id === done.task_id){
                                <span class="font-bold text-[12px] text-purple-500">{{project.project.name}}</span>                                
                            }                                                      
                        }
                        <span class="font-semibold text-[16px]">{{done.title}}</span>
                        <p class="text-[12px]">{{done.description}}</p>
                    </div>
                    <div class="mt-2 flex flex-row justify-between items-center  ">
                        <div class="flex flex-row items-center justify-center text-gray-500 px-2">    
                            <ng-icon name="heroFlag" class="mr-2"></ng-icon>                    
                            <span class="font-medium text-[14px]">{{formatDateToString(done.end_date)}}</span>
                        </div>
                        <span
                        class=" {{colorPriority()[done.priority]}} font-semibold text-[12px] px-2 py-1 rounded-[10px]">
                        {{done.priority.charAt(0).toUpperCase() + done.priority.slice(1)}}
                    </span>
                    </div>
                    <div class="flex flex-col px-2 mt-2">
                        <div class="flex flex-row justify-between">

                            <span class="font-semibold text-[12px] text-gray-500 mr-2 rounded-[10px]">Progress</span>
                            <span
                                class="font-bold text-[12px] text-gray-500 mr-2 rounded-[10px]">{{progressBarDasy(done.start_date,
                                done.end_date)}}%</span>
                        </div>

                        <div class="w-full h-[8px] bg-gray-200 rounded-[5px] mt-2">
                            <div class=" h-full bg-gradient-to-r from-fuchsia-500 to-cyan-500 rounded-[5px]"
                                [style.width]="progressBarDasy(done.start_date, done.end_date) + '%'"></div>
                        </div>
                        <div class="flex mt-2 flex-row items-center justify-end text-[14px] cursor-pointer *:hover:text-purple-500 font-medium text-gray-500 px-2"> 
                            <ng-icon name="heroChatBubbleBottomCenterText" size="17px" ></ng-icon> 
                            <span class="ml-1 text-[14px]">10 Comments</span>
                        </div>


                    </div>

                </div>
                }

            </div>
        </div>

    </div>

</section>

<router-outlet></router-outlet>