/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
    --font-manrope: "Manrope", sans-serif; 
  }

  *{
    font-family: 'Manrope', sans-serif;
  }

body{
  overflow-x: hidden;
}

.custom-shadow{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.is-invalid {
    border: 1px solid #dc2626;    
    box-shadow: 0 0 0 0.2rem rgba(220, 38, 38, 0.25);
    transition: all 0.2s ease-in-out;
}