/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
    --font-manrope: "Manrope", sans-serif; 
  }

  *{
    font-family: 'Manrope', sans-serif;
  }

body{
  overflow-x: hidden;
}

.custom-shadow{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}