
<router-outlet></router-outlet>

<div class="toast-success-container w-[350px]  -right-92  rounded-md absolute bottom-0 m-4 z-20 shadow-md hidden">
    <div class="toast bg-white flex flex-row justify-center items-center text-neutral-800 border-l-10 rounded-md border-green-400 p-4 ">
        <div class="mr-3 flex w-auto h-full">
            <ng-icon size="48" name="heroCheckCircleSolid" color="#34D399"></ng-icon>
        </div>
        <div class="flex flex-col w-full">
            <p class="font-bold text-[16px]">Success</p> 
            <p class="font-medium text-[14px] toast-content"> </p> 
        </div>      
    </div>
</div>


<div class="toast-error-container w-[350px] -right-92 hidden rounded-md absolute bottom-0  m-4 z-20 shadow-md ">
    <div class="toast bg-white flex flex-row justify-center items-center text-neutral-800 border-l-10 rounded-md border-red-400 p-4 ">
        <div class="mr-3 flex w-auto h-full">
            <ng-icon size="48" name="heroXCircleSolid" color="#EF4444"></ng-icon>
        </div>
        <div class="flex flex-col w-full">
            <p class="font-bold text-[16px]">Error</p> 
            <p class="font-medium text-[14px] toast-content"> </p> 
        </div>      
    </div>
</div>


<div class="toast-info-container w-[350px]  rounded-md absolute bottom-0 -right-92  m-4 z-20 shadow-md hidden">
    <div class="toast bg-white flex flex-row justify-center items-center text-neutral-800 border-l-10 rounded-md border-blue-400 p-4 ">
        <div class="mr-3 flex w-auto h-full">
            <ng-icon size="48" name="heroInformationCircleSolid" color="#3B82F6"></ng-icon>
        </div>
        <div class="flex flex-col w-full">
            <p class="font-bold text-[16px]">Info</p> 
            <p class="font-medium text-[14px] toast-content">  </p> 
        </div>      
    </div>
</div>


<div class="toast-warning-container w-[350px]  rounded-md absolute bottom-0 -right-92  m-4 z-20 shadow-md hidden">
    <div class="toast bg-white flex flex-row justify-center items-center text-neutral-800 border-l-10 rounded-md border-yellow-400 p-4 ">
        <div class="mr-3 flex w-auto h-full">
            <ng-icon size="48" name="heroExclamationCircleSolid" color="#F59E0B"></ng-icon>
        </div>
        <div class="flex flex-col w-full">
            <p class="font-bold text-[16px]">Warning</p> 
            <p class="font-medium text-[14px] toast-content"> </p> 
        </div>      
    </div>
</div>